[submodule "dapp/lib/forge-std"]
	path = dapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dapp/lib/ccip"]
	path = dapp/lib/ccip
	url = https://github.com/smartcontractkit/ccip
[submodule "dapp/lib/chainlink-local"]
	path = dapp/lib/chainlink-local
	url = https://github.com/smartcontractkit/chainlink-local
